<h1> About Me...</h1>

<%= @about_me %>
<br/>
<br/>

<tr>
	<td>
		<div class = "row">
			<div class = "col">
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title">LinkedIn</h5>
				    <p class="card-text">I am hoping we can learn from each other. Let's connect!</p>
				    <a href="https://www.linkedin.com/in/akashingole/" class="btn btn-primary"> 
				    View My LinkedIn Profile</a>
				  </div>
				</div>
			</div>
		<br/>
			<div class = "col">
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title">GitHub</h5>
				    <p class="card-text">All my projects are available online. Have a look at them!</p>
				    <a href="https://github.com/AkashIngole" class="btn btn-dark"> 
				    View My GitHub Repos</a>
				  </div>
				</div>
			</div>
	</div>
	</td>
</tr>
